body,
html {
    margin: 0;
    a {
        text-decoration: none;
    }
}

#nav-main {
    background-color: #111;
    width: 20%;
    height: 100vh;
    float: left;
    text-align: center;
    header {
        position: relative;
        color: white;
        font-weight: bolder;
        font-size: 2vw;
    }
}

#gmimage {
    width: 2vw;
    height: 90%;
    border-radius: 50%;
}

#gmname {
    padding-right: 40%;
    color: white;
}

#tt-main {
    float: right;
    width: 80%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    header {
        position: fixed;
        color: black;
        font-weight: bold;
        font-size: 2rem;
    }
}

#alert-box {
    position: absolute;
    margin-left: 39%;
    margin-top: 20%;
    height: 35vh;
    width: 25vw;
    text-align: center;
    vertical-align: middle;
    padding-top: 11vh;
    cursor: pointer;
    background-image: url("/css/icons/error.png");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(104, 100, 101);
    border: none;
    border-radius: 1%;
    border-style: groove;
    font-size: 1.2em;
    font-weight: bolder;
    #mtxt {
        font-size: 1em;
        color: black;
        font-weight: bold;
    }
}

#course-search {
    width: 80%;
    padding-left: 5%;
    text-transform: uppercase;
    height: 4vh;
    font-size: 1.2em;
    background: none;
    border: none;
    border-bottom: solid;
    border-color: white;
    color: white;
    outline: none;
}

#sresult {
    margin-top: 5%;
    width: 95%;
    min-height: 0;
    max-height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    border: none;
    border-radius: 2%;
    z-index: 9;
    background-color: rgba(39, 39, 39, 0.979);
}

#timetable {
    overflow-x: scroll;
    td {
        font-size: 0.85em;
        margin-bottom: 0%;
    }
    padding: 1.5%;
    padding-right: 0;
    .TimetableContent:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }
    .TimetableContent:focus {
        background-color: rgb(0, 0, 0);
    }
    .ColumnOneDays {
        background-color: rgb(48, 48, 48);
        color: white;
    }
    .TheoryHours {
        background-color: rgb(79, 78, 80);
        color: white;
    }
    .LabHours {
        background-color: rgb(91, 91, 92);
        color: white;
    }
}

.selected {
    background-color: rgb(5, 5, 5);
    color: #F2E416;
    z-index: 100;
}

#sbutton {
    background: none;
    border: none;
}

.clist:hover {
    background-color: #111;
    color: white;
    cursor: pointer;
}

#head {
    padding: 5px;
    padding-right: 20%;
    background-color: #111;
    color: white;
    width: 80%;
    position: fixed;
    #mlogo {
        align-self: center;
        height: 4.5vh;
        width: 24vw;
    }
}

#quickb {
    margin-left: 45%;
    margin-top: 2%;
}

#quickreset {
    margin-top: 2%;
}

.vis {
    display: none;
}

#quick {
    margin-left: 15%;
    margin-right: 20%;
    padding: 2%;
    width: 75%;
    .btn {
        margin-bottom: 1%;
    }
}

.maj {
    float: left;
}

.majT {
    float: right;
}

.ccode {
    margin: 0 0 0 0;
}