body,html
{
    margin: 0;

    a{
        text-decoration: none;
    }
}

#nav-main
{
    background-color: #291B57;
    width: 25%;
    height: 100vh;
    float: left;

    header
    {
        position: relative;
        color: white;
        font-weight: bolder;
        font-size: 3em;
    }
}
#tt-main
{
    float: right;
    width: 73%;
    height: 100vh;

    header
    {
        position: relative;
        color:black;
        font-weight: bold;
        font-size: 2.5em;
    }
}
#course-search
{

}
